.box {
  padding: 40px;
  /* width: 80%; */
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.title {
  margin-left: 200px;
  margin-bottom: 50px;
  font-size: 25px;
}

.container {
  width: 250px;
}

.poster {
  width: 250px;
}

.movieTitle {
  font-size: 18px;
  padding: 10px;
}
